body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

div#content {
z-index:0;
overflow:hidden;
}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
a.left {
    font-size: 2em;
}
.input-field {
   left: -455px;
}
nav ul a {
    font-size: 1.3rem;
}
a#text 
{
    position: relative;
    left: 134px;
    font-size: 1.5em;
}
div#partialView {
    display: inline-block;
    position:absolute;
    left:15px;
}
div#image {
    position: relative;
    left: 30%;
}
div#createGroup, div#updateGroup
{
    display:none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index:100;
}
div#create, div#update {
    position: fixed;
    top: 25%;
    left: 58%;
    z-index:1000;
    background:white;
}
a {
   color:#FFF;
}
form {
    margin-top: 3%;
    margin-left: 1%;
}
label {
    font-size: 1.2em;
}
input[type="text"] {
    width:30%;
}
#error {
    color:black;
    font-size: 2em;
}
div#image {
    position: fixed;
    left: 35%;
    top: 35%;
}