.header-marks-subject{
    position: fixed;
    width: 100%;
    background:  #F3F3F4;
    margin: 0;
    padding: 1rem;
    top: 126px;
    border-bottom:none;
}

.title-subject{
    
    position:fixed;
    background: #F3F3F4;
    width: 100%;
    padding: 1rem;
    margin:0;
    top:64px;
}
.title-subject h3 {
    margin:auto; display: inline;
}


.form-horizontal h4{
    text-align: center;
}
body {
    background-color: #fff;
    color: #232323;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: .85em;
}

html { line-height: 1.45; }

header, footer, nav, section { display: block; }
header{ opacity: 1;}

div#content {
    overflow: hidden;
    z-index: 0;
    margin-left: 17% !important; 
}

.form-mark .form-control {
    margin-bottom: 0px;
}

td, th {
       padding: 20px 5px;
}

.mark-content td, th {
    padding: 0px 0px;
}

.icon-mark {
    display: none;
    position: relative;
    top: 9px;
}

.icon-mark-ok {
    color: green;
}

.icon-mark-bad {
    color: red;
}

    .icon-mark i.large {
        font-size: 2.2em;
    }

.preloader-visibility {
    display: none;
}

.bad-icon {
    color: red;
}

.ok-icon {
    color: green;
}

.button-block {
    display: inline-flex;
    display: inline-flexbox;
    display: -webkit-inline-box;
    width: 100%;
}

.subject-button, .test-button {
    width: 20%;
}

.description-buttons {
    width: 60%;
}

.cels-padding {
    padding: 13px 5px 13px 5px !important;
}

.preloader-size {
    width: 28px !important;
    height: 28px !important;
    position: relative;
    top: 9px;
}

.mark-content-wrapper {
    width: 100%;
}

#mark-content {
    margin: 0 auto;
    width: 400px;
}

.widthInput {
    width: 80px !important;
}

.mark-input {
    min-width: 116px;
}

.last-name, .first-name, .group-name {
    font-size: 1.1em;
    width: 120px;
    min-width: 120px;
    white-space: nowrap;
}

th.subjects {
    white-space: nowrap;
    padding: 0px 10px;
}

.content-subjects {
    display: none;
}

.center-text {
    text-align: center;
}

.preloader-content {
    padding: 0;
}

.border-table-tr {
    border: 1px solid gainsboro;
}

.border-table {
    border: 1px solid gainsboro;
}

.table-menu {
    text-align: center;
    border: 1px solid gainsboro;
    padding: 4px;
}

.table-menu-button {
    cursor: pointer;
}

    .table-menu-button:hover {
        background-color: gainsboro;
    }

.allStudents td{
    padding: 0px 6px;
}

.allStudents:nth-child(2n+1) {
    background-color: white;
}

.allStudents {
    border-bottom: 1px solid;
    border-bottom-color: gainsboro;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    margin: 0 0 1.5em 0;
    padding: 0 1.4em 1.4em 1.4em;
}

.greenText {
    font-size: 1em;
    color: green;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea { min-height: 75px; }

.editor-label { margin: 1em 0 0 0; }

.editor-field { margin: 0.5em 0 0 0; }


/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #f00; }

.field-validation-valid { display: none; }

.input-validation-error {
    border-bottom: 1px solid #f00 !important;
    box-shadow: 0 1px 0 0 #f00 !important;
}

.input-validation-error:hover{
    border-bottom: 1px solid #26a69a !important;
    box-shadow: 0 1px 0 0 #26a69a !important;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.validation-summary-valid { display: none; }

a.left {
    font-size: 2em;
    margin-left: 10px;
}

.input-field { left: 0px; }

nav ul a { font-size: 1.3rem; }

a#text {
    font-size: 1.5em;
    left: 134px;
    position: relative;
}

div#partialView {
    display: inline-block;
    left: 15px;
    position: absolute;
}

div#image {
    background-color: #201F1F;
    left: 30%;
    opacity: 0.97;
    position: relative;
    top: 0px;
}

h4 .createPop-Up{
    text-align:center;
}

 div#createGroup, div#updateGroup {
    display: none;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.pop-up-overlay{
    position: absolute;
background-color: #000;
opacity: 0.5;
left: 0;
top: 0;
width: 100%;
height: 100vh;
}
div#create, div#update {
    background: white;
    border-radius: 3px;
    height: 378px;
    left: 35%;
    position: absolute;
    top: 25%;
    width: 370px;
    z-index: 1100;
}

a {
    /*TODO: Fix style, as now it is corrupting all links on white background*/
    /*color:#FFF;*/
}

.form-mark {
    margin-top: 0px;
}

form {
    /*margin-left: 1%;*/
    /*margin-top: 6%;*/
}

label { font-size: 1.2em; }

input[type="text"] { }

#logIn { float: right; }

#LoginForm h2 { text-align: center; }

#error {
    color: black;
    font-size: 2em;
}

div#image {
    left: 35%;
    position: fixed;
    top: 35%;
}

div#returnIndex {
    font-size: 3em;
    height: 200px;
    left: 750px;
    position: relative;
    top: 55px;
    width: 600px;
}

#addGroup {
    display: block;
    height: 156px;
    margin-left: 10px;
    margin-top: 23px;
    width: 250px;
}

#addIcon {
    font-size: 50px;
    position: relative;
    top: 50px;
}

#groupAdd {
    font-size: 25px;
    left: -7px;
    line-height: 37px;
    position: relative;
    top: 39px;
}

div#content {
     max-width: 960px;
    margin: auto;
}

.card.blue-grey.darken-1.card-action {
    height: 156px;
    width: 250px;
}

.card-content.white-text { height: 100px; }

.row {
    float: left;
    margin-top: 15px;
}

#forCreate {
    float: left;
    height: 170px;
    margin-right: 68px;
    width: 205px;
}

a.toDetails, a.toEdit {
    color: #909393;
    height: 100%;
    margin-right: 0px;
}

a.toEdit { cursor: pointer; }

.textLik {
    color: #909393;
    cursor: pointer;
    font-size: 45px;
    height: 100%;
    position: relative;
    text-align: center;
    top: 15px;
}

.card-content.white-text { padding: 0px; }

p#textLik:hover { color: #26A69A; }

label.createPop-Up { margin-left: 23px; }

h4.createPop-Up, h4.updatePop-Up { margin-left: 10px; }

div.createPop-Up, div.updatePop-Up {
    left: 100px;
    position: relative;
    display: inline;
    top: 20px;
}

#whiteText { color: white; }

button.whiteText { color: white; }

.error-text { text-align: center; }

.error-image {
    background-color: #F3F3F4;
    margin: 0 auto;
}

img#errorImage {
    left: 370px;
    position: relative;
}

.input-field input[type=search] {
    position: relative;
    top: -7px;
}

.input-field input[type=search] + label { top: -7px; }

.input-field input[type=search] ~ .mdi-navigation-close { top: -8px; }

#LoginForm {
    background: #F3F3F4;
    border-radius: 3px;
    height: 300px;
    left: 35%;
    opacity: 1;
    position: fixed;
    top: 100px;
    width: 370px;
    z-index: 1000;
}

input.createPop-up, input.updatePop-Up {
    margin-left: 10px;
    width: 70%;
}

.card-content.white-text { overflow: hidden; }

#groupName { margin-left: 30px; }

.errorFill { border-bottom: 3px solid red; }

input#FullName, input#ShortName {
    margin-left: 23px;
    width: 312px;
}
input#Year {  
    margin-left:23px;
    width:312px;
}
.blue-grey.darken-1 { background-color: white !important; }

a.toEdit { float: right; }

.card .card-action a { color: #FBF9F6 !important; }

.error-massage {
    color: #f00;
    font-weight: bold;
}

#error-cookie { display: none; }

div#count {
    color: #F3F1EF;
    margin-top: 22px;
}

a.toEdit { margin-top: -32px; }


i.material-icons.downloadIcon {
    left: 70px;
    position: relative;
    top: -6px;
}

body { background: #F3F3F4; }

nav .nav-wrapper { background: teal; }

.card .card-action { padding: 0px; }

.donwloadStudent {
    left: 5px;
    position: relative;
    top: 12px;
    width: 115px;
}

a.toEdit.waves-effect.waves-light.btn.group-update {
    margin: 0px;
    padding: 0px;
    top: -24px;
}

a.waves-effect.waves-light.btn.donwloadStudent {
    margin: 0px;
    padding: 0px;
}

.group-update {
    left: -6px;
    position: relative;
    top: 12px;
    width: 115px;
}

.deleteGroup {
    color: darkgrey;
    font-size: 21px !important;
    right: 0px;
    padding: 5px;
    z-index: 50;
    position: absolute;
    cursor: pointer;
}
    .deleteGroup :hover {
        color: red;
    }


.deleteStudent {
    position: inherit !important;
}

.iconConteiner {
        width: 100%;
    border-top: 1px solid #EEEEEE;
        display: flex;

}

.centerConteiner {
    margin: 0 auto;
    display: inline-flex;
}

.center {
    text-align: center;
}

p.countUsers {
    font-size: 1.25em;
    padding-right: 8px;
    position: relative;
    text-align: right;
    top: -4px;
    left: 14px;
}

@media screen and (max-width: 560px) {
    a#addGroup { top: -14px; }

    div#updateGroup {
        display: none;
        left: 0%;
        top: 0px;
    }
}

@media screen and (max-width: 539px) {
    #forCreate { height: 190px; }
}

@media screen and (max-width: 560px) {
    div#create { left: 2%; }
}

@media screen and (max-width: 560px) {
    div#LoginForm { left: 2%; }
}

@media screen and (max-width: 370px) {
    div#create, div#updateGroup { left: 3%; }
}

@media screen and (max-width: 500px) {
    div#create, div#updateGroup { top: 56px; }
}
@media screen and (max-width: 625px) {
    div#update { left: 15%; }
}
 @media screen and (max-width: 460px) {
    div#update { left: 3%;
              top:12%;
    }
}
 @media screen and (max-width: 600px) {
    div#updateGroup { top: 56px; }
}


ul#nav-mobile {
    left: -250px;
    position: relative;
}

.field-validation-error {
    left: 10px;
    position: relative;
    font-size: 1.06em;
}

input[type=text].updatePop-Up, input[type=text].createPop-Up {
     margin: 0px 0 6px 0;
}

a.toEdit.waves-effect.waves-light.btn.group-update { top: -24px; }

.deleteGroup:hover {
    color: #008080;
}
div#content {
    margin-top: 5%;
}

.search {
    width: 30%;
    margin-left: 35%;
    display: inline-flex;
    margin-right: 35%;
}

    .search i {
                cursor: pointer;
            width: 23px;
            height: 45px;
            padding-top: 12px;
            padding-right: 31px;
            background-color: white;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
    }

        .search i:hover {
            color: red;
        }

.form-search {
    background-color: white !important;
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
    padding-left: 18px !important;
}

.card-search-container {
        border-radius: 4px;
    width: 22.5%;
    display: inline-table;
    margin: 1%;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(238,238,238,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(238,238,238,1);
    box-shadow: 0px 0px 3px 1px rgba(238,238,238,1);
    transform: rotateY(180deg);
    transition: transform .5s;
    border: 1px solid transparent;
}

.card-search {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
    transform: rotateY(180deg);

}

.studentMark {
    font-size: 1.5em;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.studentMarkDetails {
    font-size: 0.9em;
    padding: 0px;
    text-align: center;
}

.iconAverage {
    top: 3px;
    position: relative;
}

.search-marks-input {
    width: 40px !important;
    float: right;
    margin: 0 !important;
    height: 16px !important;
    font-size: 12px !important;
    text-align: center;
}

.search-firstName-input {
    font-size: 12px !important;
    margin: 0px 2% 0px 0px !important;
    width: 49% !important;
    height: 25px !important;
}

.search-lastName-input {
    font-size: 12px !important;
    margin: 0 !important;
    width: 49% !important;
    height: 25px !important;
}

    .card-search .content-search {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        padding: 10px 20px 10px;
        margin-top: 0px;
    }

    .card-search h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
}

.result-table thead tr th {
    text-align: center;
        font-weight: 500;
            padding: 8px 0px;


}

.result-table {
    background-color: #f9f9f9;
}

.result-table tbody tr td {
    text-align: center;
            padding: 8px 0px;

}

.main-search {
    border-bottom: 1px solid #EEEEEE;
    text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444444;
    font-weight: 500;
    font-size: 16px;
}

.group-search {
    text-align: center;
    color: #999999;
}

.search-result-conteiner {
    display: inline;
}
#delete-group{
display:none;
}
p.year{
    font-size: 1.25em;
    position: relative;
    text-align: left;
    top: -44px;
    left: 8px;
    color:#909393 !important;
}
p.countUsers {
    position: relative;
    top: -21px;
    color:#909393 !important;
}
.donwloadStudentForEditor {
    width: 95%;
    margin-top: 9px;
    margin-left: 7px;
}
a.toDetails:hover {
    color:#26A69A;
}
.borderTable {
    border-top: solid 1px;
    padding: 10px;
}
.borderLeftTable {
    border-left: solid 1px;
    border-top: solid 1px;
    padding: 10px;
}
.forPerson {
    width: 20px;
    height: 20px;
    position: relative;
    top: -22px;
    left: -26px;
    float: right;
}
i.person {
    font-size: 1.5rem;
    color: #A9A9A9 !important;
}
select {
    display: inline-block;
    width: 15%;
    margin-right: 2%;
}
.select-one {
    font-size: 1.1em;
}

.select-two {
    font-size: 1.1em;
}

div#select-two {
    position: relative;
    left: 304px;
    top: 5px;
}

div#select-one {
    position: relative;
    top: 55px;
}

nav.blue-grey.darken-1 {
    z-index:1000;
}

.padding-td-subject-marks {
    padding: 10px !important;
}

div#selectors {
    margin-bottom: 6%;
}

div#group-filter {
    margin-bottom: 2%;
    font-size: 14px;
    margin-top: 2%;
}
#clearFilter {
    border-bottom:2px;
    border-bottom-style:dashed;
    cursor:pointer;
}
span[for = "Year"] {
    padding: 5px;
}
.declineCreate {
    color: #FFF;
}
h3.subject-name {
font-size: 2.4rem;
}