body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

div#content {
z-index:0;
overflow:hidden;
}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
a.left {
    font-size: 2em;
}
.input-field {
   left: -455px;
}
nav ul a {
    font-size: 1.3rem;
}
a#text 
{
    position: relative;
    left: 134px;
    font-size: 1.5em;
}
div#partialView {
    display: inline-block;
    position:absolute;
    left:15px;
}
div#image {
    position: relative;
    left: 30%;
    top: 0px;
    background-color: #201F1F;
    opacity: 0.97;
}
div#createGroup, div#updateGroup
{
    display:none;
    top: 64px;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index:100;
    background:black;
    opacity:0.97;
}
div#create, div#update {
    position: fixed;
    top: 25%;
    opacity: 1;
    left: 35%;
    width: 370px;
    height: 300px;
    z-index: 1000;
    background: white;
    border-radius: 3px;
}
a {
    /*TODO: Fix style, as now it is corrupting all links on white background*/
   /*color:#FFF;*/
}
form {
    margin-top: 3%;
    margin-left: 1%;
}
label {
    font-size: 1.2em;
}
input[type="text"] {
    
}

#logIn
{
    float: right;
}

#LoginForm h2
{
    text-align: center;
}

#error {
    color:black;
    font-size: 2em;
}
div#image {
    position: fixed;
    left: 35%;
    top: 35%;
}
div#returnIndex {
    width: 600px;
    height: 200px;
    position: relative;
    left: 750px;
    top: 55px;
    font-size: 3em;
}
#addGroup {
    width: 250px;
    height: 150px;
    margin-left: 10px;
    margin-top: 23px;
    display:block;
}
#addIcon {
    position: relative;
    top: 50px;
    font-size: 50px;
}
#groupAdd {
    position: relative;
    top: 39px;
    left: -7px;
    font-size: 25px;
    line-height: 37px;
}
div#content {
    width: 100%;
}
.card.blue-grey.darken-1.card-action {
    width: 250px;
    height: 150px;
}
.card-content.white-text{
        height: 95px;
}
.row {
    float: left;
    margin-top: 15px;
}
#forCreate {
    float:left;
    width:201px;
    height:151px;
    margin-right: 68px;
}
a.toDetails, a.toEdit {
    height: 100%;
    display: block;
}
a.toEdit {
cursor:pointer;
}
#textLik {
    height: 100%;
    position: relative;
    font-size: 45px;
    text-align: center;
    top: 10px;
    color: #ffab40;
}
.card-content.white-text {
    padding:0px;
}
p#textLik:hover {
    color:#ffd8a6;
}
label.createPop-Up {
    margin-left: 10px;
}
h4.createPop-Up, h4.updatePop-Up {
margin-left:10px;
}
div.createPop-Up, div.updatePop-Up {
    position: relative;
    left: 100px;
    top: 20px;
}
#whiteText {
color:white;

}
button.whiteText {
color:white;
}
#errorText, erroImage {
text-align:center;
}
img#errorImage {
    position: relative;
    left: 370px;
}
.input-field input[type=search] {
    position: relative;
    top: -7px;
}
.input-field input[type=search] + label {
        top: -7px;
}
.input-field input[type=search] ~ .mdi-navigation-close {
        top: -8px;
}

#LoginForm
{
    position: fixed;
    top: 100px;
    opacity: 1;
    left: 35%;
    width: 370px;
    height: 300px;
    z-index: 1000;
    background: white;
    border-radius: 3px;
}
input.createPop-up,input.updatePop-Up {
    width: 70%;
    margin-left: 10px;
}
.card-content.white-text {
    overflow: hidden;
}