html {
    min-width: 760px;
}

/* Styles for student list view
-----------------------------------------------------------*/
.screenMediaBelow {
    display: none;
}

@media screen  and (max-width: 1270px) {
   .screenMediaAbove {
       display: none !important;
   }
    .screenMediaBelow {
        display: block;
        margin: 3px;
        padding: 0px;
        float: left;
    }
}



  @media screen and (max-width: 550px) {
    #groupName {
        margin-left: 5px;
    }
    #tbStudentList {
        margin-left: 5px;
    }
    #tbStudentList .first-name {
            width: 15%;
            word-wrap: break-word;
        }
    #tbStudentList .last-name {
            width: 20%;
            word-wrap: break-word;
        }
    #tbStudentList .marks {
        width: 6%;
    }
}

table {
    table-layout: fixed;
}

#tbStudentList {
        margin-left: 30px;
    }

#tbStudentList .first-name {
    width: 20%;
    word-wrap:break-word;
}

#tbStudentList .last-name {
    width: 23%;
    word-wrap:break-word;
}

#tbStudentList .marks {
        width: 5%;
    }

.sort-link {
    padding: 0px;
    display: inline;
}

.btn-size {
            display: table-cell;
            height: 30px;
            width: 30px;
        }

#tbStudentList .first-name {
            width: 20%;
            word-wrap: break-word;
        }

#tbStudentList .last-name {
            width: 25%;
            word-wrap: break-word;
        }

 .btnStudent:hover {
            background-color: #757575;
        }

.btnStudent {
            background-color: #9e9e9e;
        }

.btnStudent img {
                vertical-align: middle;
            }

.btn-success img {
            padding-top: 5px;
        }

.screenMediaAbove {
     display: inline-block;
}

.triangle-down {
            margin: 0 0 0 5px;
            vertical-align: middle;
            display: inline-block;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid grey;
        }

.triangle-up {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid grey;
            margin: 0 0 3px 5px;
            vertical-align: middle;
            display: inline-block;
        }

.donwloadStudent {
    background-color: #0097A7;
}

.donwloadStudent:hover {
    background-color:#037986;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ----------------------------------------------------------*/