/* Styles for student list view
-----------------------------------------------------------*/
.screenMediaBelow {
    display: none;
}
.preloader {
    display: none;
}

@media screen  and (max-width: 1270px) {
   .screenMediaAbove {
       display: none !important;
   }
    .screenMediaBelow {
        display: table-cell;
        padding: 0 3px;
    }
    }

  @media screen and (max-width: 770px) {
      html {
           min-width: 770px;
      }
    #groupName {
        margin-left: 5px;
    }

    #tbStudentList .first-name {
            word-wrap: break-word;
        }
    #tbStudentList .last-name {
            word-wrap: break-word;
        }
}


#tbStudentList .marks input {
    width: 40px;
    }

#tbStudentList .first-name {
    word-wrap:break-word;
}

#tbStudentList .last-name {
    word-wrap:break-word;
}

.sort-link {
    padding: 0px;
    display: inline;
}

.btn-size {
            display: table-cell ;
        }

#tbStudentList .first-name {
            word-wrap: break-word;
        }

#tbStudentList .last-name {
            word-wrap: break-word;
        }

 .btnStudent:hover {
            background-color: #757575;
        }

.btnStudent {
            background-color: #9e9e9e;
            padding: 0 1rem;
        }

.btnStudent img {
                vertical-align: middle;
                width: 20px;
            }

.btn-success img {
            padding-top: 5px;
        }

.triangle-down {
            margin: 0 0 0 5px;
            display: inline-block;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid grey;
            position: absolute;
            top: 28px;
        }

.triangle-up {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid grey;
            margin: 0 0 3px 5px;
            display: inline-block;
            position: absolute;
            top: 28px;
        }

.triangle-wrapper {
    display: inline-block;
    position: relative;
}

.triangle-wrapper .triangle-down,
.triangle-wrapper .triangle-up {
    top: 13px;
    right: -15px;
}

.donwloadStudent {
    background-color: #9e9e9e;
}

.donwloadStudent:hover {
    background-color:#757575;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#tbStudentList tbody input[type=text] {
    margin: 0px;
}
#tbStudentList th {
    position: relative;
}
.btnStudent {
    padding: 0 0.45rem;
}
td.screenMediaAbove {
    padding: 15px 4px;
}
a.btn.btn-size.btnStudent {
    font-size: .9em;
}
.ui-widget-overlay {
    background: BLACK;
    opacity: 0.9;
}
#delete-student {
display:none;
}

/* ----------------------------------------------------------*/