@model IList<TestFactory.MVC.ViewModels.StudentViewModel>
 
    <h2>List Students</h2>
    
<table class="table">
    @foreach (var item in Model) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.RouteLink("Edit", "updateStudent", new { id = item.Id }) 
            </td>
        </tr>
    }
    <p>
        @Html.RouteLink("Create new student", "createStudent", new { groupId = Request.Params["groupId"] })
    </p>
</table>


