@model List<StudentViewModel>
<div class='liveExample'>

    <form action='/someServerSideHandler'>
        <table class="table">
            <thead>
                <tr>
                    <th>FirestName</th>
                    <th>LastName</th>
                    <!-- ko foreach: $root.categories -->
                    <th data-bind="text: code"></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: students">
                <!-- ko if: mode() == $root.mods.display -->
                <tr>
                    <td data-bind="text: firstName"></td>
                    <td data-bind="text: lastName"></td>
                    <!-- ko foreach: marks -->
                        <td data-bind="text: value"></td>
                    <!-- /ko -->
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.editStudent">Edit</button>
                    </td>
                </tr>
                <!-- /ko -->
                <!-- ko if: mode() == $root.mods.edit -->
                <tr>
                    <td><input type="text" data-bind="textInput: $root.studentForUpdate.firstName" /></td>
                    <td><input type="text" data-bind="textInput: $root.studentForUpdate.lastName" /></td>
                    <!-- ko foreach: $root.studentForUpdate.marks -->
                        <td><input type="text" data-bind="textInput: value" /></td>
                    <!-- /ko -->
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.saveEditedStudent">Save</button>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
            <tfoot>
                <!-- ko if: $root.studentForCreate.mode() == $root.mods.create -->
                <tr>
                    <td><input type="text" data-bind="textInput: $root.studentForCreate.firstName" /></td>
                    <td><input type="text" data-bind="textInput: $root.studentForCreate.lastName" /></td>
                    <!-- ko foreach: $root.studentForCreate.marks -->
                        <td><input type="text" data-bind="textInput: value" /></td>
                    <!-- /ko -->
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.saveAddedStudent">Save</button>
                    </td>
                </tr>
                <!-- /ko -->
            </tfoot>
        </table>
        <a href="#" data-bind='click: addStudent' id="addStudent">Додати студента</a>
    </form>

</div>
@section Scripts{
<script>
    $(document).ready(function () {
        var viewModel = new StudentsViewModel();
        ko.applyBindings(viewModel);
    });

</script>
}

   