@model System.String
<div class='liveExample'>

    <form action='/someServerSideHandler'>
        <table class="table">
            <thead>
                <tr>
                    <th>@GlobalRes_ua.name</th>
                    <th>@GlobalRes_ua.surname</th>
                    <!-- ko foreach: $root.categories -->
                    <th data-bind="text: code"></th>
                    <!-- /ko -->
                </tr>
                
                <tr>
                    <td><input type="text" data-bind="textInput: $root.studentForCreate.firstName" /></td>
                    <td><input type="text" data-bind="textInput: $root.studentForCreate.lastName" /></td>
                    <!-- ko foreach: $root.studentForCreate.marks -->
                    <td><input type="text" data-bind="textInput: value" /></td>
                    <!-- /ko -->
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.saveAddedStudent">Добавити</button>
                    </td>
                </tr>
               
            </thead>
           
            <tbody data-bind="foreach: students">
                <!-- ko if: mode() == $root.mods.display -->
                <tr>
                    <td data-bind="text: firstName"></td>
                    <td data-bind="text: lastName"></td>
                    <!-- ko foreach: marks -->
                        <td data-bind="text: value"></td>
                    <!-- /ko -->
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.editStudent">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.download">Load report</button>
                    </td>
                </tr>
                <!-- /ko -->
                <!-- ko if: mode() == $root.mods.edit -->
                <tr>
                    <td><input type="text" data-bind="textInput: $root.studentForUpdate.firstName" /></td>
                    <td><input type="text" data-bind="textInput: $root.studentForUpdate.lastName" /></td>
                    <!-- ko foreach: $root.studentForUpdate.marks -->
                        <td><input type="text" data-bind="textInput: value" /></td>
                    <!-- /ko -->
                    <td>
                        <button class="btn btn-success" data-bind="click: $root.saveEditedStudent">Save</button>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </form>

</div>
@section Scripts{
<script>
    $(document).ready(function () {
        var groupId = '@(Model)';
        var viewModel = new StudentsViewModel(groupId);
        ko.applyBindings(viewModel);
    });

</script>
}

   