@Styles.Render("~/Students/css")
<div>
    <form>
        <table id="tbStudentList" >
            <thead>
                <tr class="noselect">
                    <th class="last-name">
                        <a class="btn-flat  sort-link" data-bind="click:  function(){ $root.sortingByName('lastName');} ">@GlobalRes_ua.surname </a>
                        <!-- ko if: $root.sortKey() == "lastName" -->
                        <div data-bind="css: selectedClassForSortedField"></div>
                        <!-- /ko -->
                    </th>
                    <th class="first-name">
                        <a class="btn-flat  sort-link" data-bind="click: function(){ $root.sortingByName('firstName'); } ">@GlobalRes_ua.name</a>
                        <!-- ko if: $root.sortKey() == "firstName" -->
                        <span data-bind="css: selectedClassForSortedField"></span>
                        <!-- /ko -->
                    </th>
                    <th class="group">
                        <a class="btn-flat  sort-link" data-bind="click: function(){ $root.sortingByName('group'); } ">Group</a>
                        <!-- ko if: $root.sortKey() == "group" -->
                        <span data-bind="css: selectedClassForSortedField"></span>
                        <!-- /ko -->
                    </th>
                    <!-- ko foreach: $root.categories -->
                    <th class="marks">

                        <a class="btn-flat sort-link" data-bind="text: code, click: function(){ $root.sortingByMark('marks', $data.id, $data.code); } "> </a>
                        <!-- ko if: $root.sortKey() == $data.code() -->
                        <div data-bind="css: $root.selectedClassForSortedField"></div>
                        <!-- /ko -->
                    </th>
                    <!-- /ko -->
                </tr>
                                             @*averege marks*@
            </thead>
            <tbody data-bind="foreach: students">
                <tr>
                    <td class="last-name" data-bind="text: lastName"></td>
                <td class="first-name" data-bind="text: firstName"></td>
                    <td class="group" data-bind="text: group.shortName"></td>
                    <!-- ko foreach: marks -->
                    <td class="marks" data-bind="text: value" max="100  "></td>
                    <!-- /ko -->
            </tbody>
        </table>
    </form>

</div>
@Scripts.Render("~/Scripts/jquery-ui-1.8.24.js")
@section Scripts{
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script>

    var globalView = null;
    $(document).ready(function () {
        var viewModel = new StudentsAllViewModel();
        globalView = viewModel;
        ko.applyBindings(viewModel);
    });

</script>
}

   