@model IList<TestFactory.MVC.ViewModels.StudentViewModel>
 
    <h2>List Students</h2>
    
<table class="table">
    <p>
        @Html.RouteLink("Create new student", "studentCreate", new { groupId = ViewContext.RouteData.Values["groupId"] })
    </p>
    

    @foreach (var item in Model) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.RouteLink("Edit", "studentUpdate", new { id = item.Id }) 
            </td>
        </tr>
    }
</table>


