@model List<StudentViewModel>
<div class='liveExample'>

    <form action='/someServerSideHandler'>
        <p>
            <button class="btn btn-primary" id="create">Create</button>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>FirestName</th>
                    <th>LastName</th>
                    <th>GroupId</th>
                    <th>Mode</th>
                    <th />
                </tr>
            </thead>
            <tbody data-bind="foreach: students">
                <tr>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: firstName"></td>
                    <td data-bind="text: lastName"></td>
                    <td data-bind="text: groupId"></td>
                    <td>
                        <button class="btn btn-success">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="#" data-bind='click: addStudent' id="addStudent">Додати студента</a>
    </form>

</div>
@section Scripts{
               <script>
    $(document).ready(function () {
        var viewModel = new StudentsViewModel();
        ko.applyBindings(viewModel);
    });

</script>
}

   