
@{
    Layout = null;
}
@model Tuple<student, category>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>krjgkj</title>
    <script src="~/bundles/jquery"></script>
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts-more.js"></script>
    <script src="~/Scripts/Highcharts-4.0.1/js/modules/exporting.js"></Script>
</head>
<body>
    <h2 style="text-align: center">rglkrt rtkgl (група?)</h2>
    <div style="width: 800px; margin: 0 auto;">
        <div>
            <div id="chart-container" style="min-width: 500px; max-width: 600px; height: 400px; float: left;"></div>
            <div style="float: left; display: inline; line-height: 1.5; margin-left: 20px; margin-top: 40px;">
                <div>R - 36 (90%) - реалістичний</div>
                <div>А - 22 (55%) - артистичний</div>
                <div>І - 34 (85%) - дослідницький</div>
                <div>S - 36 (90%) - соціальний</div>
                <div>E - 36 (90%) - підприємницький</div>
                <div>C - 36 (90%) - систематичний</div>
            </div>
        </div>
        <div style="width: 100%; overflow: hidden; line-height: 1.5;">
            <h3 style="text-align: center">Реалістичний (Realistic) тип</h3>
            <div><strong>Близькі типи:</strong>  інтелектуальний і конвенціональний.</div>
            <div><strong>Протилежний тип:</strong> соціальний.</div>
            <div>
                 <strong>Характерні особливості:</strong>
                <ul>
                    <li>емоційна стабільність;</li>
                    <li>моторика і спритність розвинена на високому рівні;</li>
                    <li>просторова уява;</li>
                </ul>
            </div>
            <div>
                <strong>Надається перевага</strong>
                професії з чіткими завданнями і результатами. Мають шанси домогтися успіху в спорті, фізики, хімії, економіці, інформатиці. Людей реалістичного типу часто називають "виконавцями". Вони напористі і люблять змагатися. Такі люди воліють працювати з реальними об'єктами, машинами та інструментами. Їм подобається діяльність, що вимагає координації, спритності і сили. Люди реалістичного типу володіють практичним складом розуму і орієнтуються на сьогодення. Вони воліють вирішувати проблеми, пробуючи щось зробити замість того, щоб довго думати або обговорювати. Їм подобається "працювати руками", і тому вони люблять розбиратися в техніці, електриці або сільському господарстві. Такі люди часто займаються спортом, намагаються багато часу проводити на природі і ведуть активний спосіб життя</div>
            <div>
                <strong>Детальний опис</strong>
                Люди кажуть, що ви практичні, вправні і надійні. Чесно кажучи, ви віддаєте перевагу робити, а не говорити. Ваша пристрасть - фізична праця і спорт, особливо на відкритому повітрі. Коли потрібно щось полагодити, саме до вас іде всі друзі та знайомі. Ви можете полагодити практично будь-який механізм або прилад, і коли він нарешті запрацює, виявиться, що ви блискуче можете цим керувати. Ви не та людина, яка мріє кожен день одягати костюм і їхати на метро в свій офіс в хмарочосі. Ви для цього занадто незалежні. І хоча вам подобаються ризиковані спортивні ігри на зразок американського футболу, в глибині душі ви мрієте про стабільну, рутинній роботі.</div>
            <div></div>
        </div>

    </div>
</body>
</html>
<script>
    $(function () {

        $('#chart-container').highcharts({

            chart: {
                polar: true,
                //type: 'line'
            },

            title: {
                text: 'Результати теста по профорієнтації Дж. Холланда',
                align: "center"
            },

            pane: {
                size: '70%'
            },

            xAxis: {
                categories: ['Раціональний', 'Артистичний', 'Дослідницький', 'Соціальний',
                        'Підприємницький', 'Систематичний'],
                tickmarkPlacement: 'on',
                lineWidth: 0
            },

            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0
            },

            tooltip: {
                shared: true,
                pointFormat: '<span>{series.name}: <b>{point.y:,.0f}%</b><br/>'
            },

            legend: {
                enabled: false,
                align: 'right',
                verticalAlign: 'top',
                y: 70,
                layout: 'vertical'
            },

            lang: {
                downloadPNG: "erfg"
            },

            series: [{
                type: 'area',
                name: 'Домінський Вадим',
                data: [90, 55, 85, 90, 90, 90],
                pointPlacement: 'on'
            }]

        });
    });
</script>
