 <div id="returnIndex">
     <p>Sorry....But page is not found :(</p>
    @Html.RouteLink("Go back to Index page","Default")
 </div>
<div id="image">
        <img src="~/Content/images/404.jpg" alt="Page Not Found (404)." id="errorPage">
    </div>