@{
    ViewBag.Title = "ListGroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="partialView">
    @{Html.RenderPartial("CreateGroup");}
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
@Scripts.Render("~/Scripts/editGroups.js")